<div class="container-fluid d-flex justify-content-center">
    <h3>Card List</h3>
</div>

<div *ngIf='this.cards.length === 0'>
    <h6 class="d-flex justify-content-center">
        No card added
    </h6>
</div>


<div *ngIf='this.cards.length > 0'>
    <h6 class=" d-flex justify-content-center">
        <button (click)="clearList(0)" class="btn btn-success btn-lg" style="font-size: .8rem;" id="clear-list"> Clear
            List</button>
    </h6>
</div>



<!-- <div class="col-8 container-fluid justify-content-center">
    <ul class="item-list"></ul>
</div> -->

<div>
    <app-card-item *ngFor="let foobar of cards" [card]="foobar">
    </app-card-item>
</div>